= form_for @signature do |f|
  -if @signature.errors.any?
    #error_explanation
      h2 = "#{pluralize(@signature.errors.count, "error")} prohibited this signature from being saved:"
      ul
        - @signature.errors.full_messages.each do |msg|
          li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :content
    = f.text_area :content
  .actions
    = f.submit 'Save'
