h1 Listing signatures

table
  tr
    th User
    th Name
    th Content
    th
    th
    th

  - @signatures.each do |signature|
    tr
      td= signature.user_id
      td= signature.name
      td= signature.content
      td= link_to 'Show', signature
      td= link_to 'Edit', edit_signature_path(signature)
      td= link_to 'Destroy', signature, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Signature', new_signature_path
