p#notice = notice

p
  b User:
  = @signature.user_id
p
  b Name:
  = @signature.name
p
  b Content:
  = @signature.content

= link_to 'Edit', edit_signature_path(@signature)
`|
= link_to 'Back', signatures_path
