! doctype
html
  head
    title agendor
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  body
    p.notice= notice
    p.alert= alert
    #header
      - if user_signed_in?
        li = current_user.email
        li = link_to("Logout", destroy_user_session_path)
      - else
        li = link_to("Login", new_user_session_path)
    #content
      = yield
    #footer
      | agendor is libre software
